In [6]:
# dataset
import pandas as pd

In [82]:
df_precip = pd.read_csv('../data/precip.csv')

In [83]:
df_precip.head()

         time  depth  latitude  longitude   v
0  1993-01-01   15.0      69.5       20.5 NaN
1  1993-01-01   15.0      69.5       21.5 NaN
2  1993-01-01   15.0      69.5       22.5 NaN
3  1993-01-01   15.0      69.5       23.5 NaN
4  1993-01-01   15.0      69.5       24.5 NaN

In [84]:
df_art = pd.read_csv('../data/43591_2021_13_MOESM3_ESM/Level012R1.csv', header=0)

In [85]:
df_art.head()

,year,month,date,"longitude (degree: E+, W-)","latitude (degree: N+, S-)",Level 0 (pieces/m3),ratio (fragment<5 mm),Level 1 (pieces/m3),windspeed (m/s),significant wave height (m),Level 2p (pieces/km2),Level 2w1 (g/km2),Level 2w2 (g/km2),No. in Table 1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-999: No data,NaN,NaN
1,2001.0,10.0,12.0,-117.18,32.42,0.00864,0.83,0.00717,3.78,1.94,7160.0,1.69E+02,4.60,1.0
2,2001.0,10.0,12.0,-117.18,31.54,0.01190,0.83,0.00988,3.49,2.06,9670.0,2.29E+02,6.64,1.0
3,2001.0,10.0,12.0,-117.47,30.60,0.00000,0.83,0.00000,4.80,2.20,0.0,0.00E+00,0.00,1.0
4,2001.0,10.0,14.0,-117.18,29.10,0.00000,0.83,0.00000,3.55,2.24,0.0,0.00E+00,0.00,1.0

In [86]:
df_art['latitude (degree: N+, S-)'] = df_art['latitude (degree: N+, S-)'].astype('float64')
df_art.rename(columns={'latitude (degree: N+, S-)': 'latitude', 'longitude (degree: E+, W-)': 'longitude'}, inplace=True)

In [87]:
df_art.latitude.unique()

array([    nan, 32.42  , 31.54  , ..., 82.4838, 81.5187, 81.1909])

In [91]:
df_art.dropna(how='any', inplace=True)

In [101]:
# normalize latitude on df_art to rond to 0.5 degree
def round_lat(lat):
    return round(lat / 0.5) * 0.5


df_art.latitude = df_art.latitude.apply(round_lat)
a: pd.np.ndarray = df_art.latitude.unique()

/var/folders/8r/99r3254j0xq74zgjly2h4yv40000gp/T/ipykernel_59207/1860042692.py:7: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  a: pd.np.ndarray = df_art.latitude.unique()

In [105]:
df_art['time'] = df_art['year'].astype('str') + '-' + df_art['month'].astype('str') + '-' + df_art['date'].astype('str')
df_art['time']

1       2001.0-10.0-12.0
2       2001.0-10.0-12.0
3       2001.0-10.0-12.0
4       2001.0-10.0-14.0
5       2001.0-10.0-15.0
              ...
8214     2016.0-9.0-14.0
8215     2016.0-9.0-15.0
8216     2016.0-9.0-15.0
8217     2016.0-9.0-16.0
8218     2016.0-9.0-16.0
Name: time, Length: 8218, dtype: object

In [104]:
# Compare the longitude of the ART data with the longitude of the precip data find the common longitudes and latitudes
pd.merge(df_precip, df_art, on=['longitude', 'latitude','time'])

Empty DataFrame
Columns: [time, depth, latitude, longitude, v, year, month, date, Level 0 (pieces/m3), ratio (fragment<5 mm), Level 1 (pieces/m3), windspeed (m/s), significant wave height (m), Level 2p (pieces/km2), Level 2w1 (g/km2), Level 2w2 (g/km2), No. in Table 1]
Index: []