In [3]:
from itertools import count

import pandas as pd
from IPython.core.display_functions import display

In [4]:
df_A = pd.read_csv('../data/AdventureScientist.csv')
df_geo = pd.read_csv('../data/GEOMAR.csv')
df_Se = pd.read_csv('../data/SEA.csv')

In [5]:
df_A.head()

   OBJECTID Sample_Date   Latitude   Longitude  Total_Pieces_L  Normalized
0         1  2013-06-30  59.378683 -153.520867               1    0.003096
1         2  2013-06-30  59.368133 -153.552333               1    0.003096
2         3  2013-06-30  59.341467 -153.549767              14    0.043344
3         4  2013-06-30  59.638717 -153.395667              17    0.052632
4         5  2013-06-30  59.373600 -153.448067              71    0.219814

In [6]:
df_geo.head()

,OBJECTID,Sample_Date,Latitude,Longitude,MP_conc__particles_cubic_metre_,Normalized
0,1,2017-09-30,38.335844,-9.250058,180,0.515759
1,2,2017-09-30,36.796376,-7.944142,307,0.879656
2,3,2017-09-30,36.707197,-2.737703,280,0.802292
3,4,2017-10-22,36.116504,-4.254036,212,0.607450
4,5,2017-10-24,35.392750,-12.180278,63,0.180516

In [7]:
df_Se.head()

   OBJECTID Sample_Date  Lat_deg_  Long_deg_  Pieces_KM2  Normalized
0         1  2004-11-08     13.88     -61.71           0           0
1         2  2004-11-03     14.54     -60.61           0           0
2         3  1997-11-10     16.07     -61.95           0           0
3         4  1996-12-24     18.10     -78.53           0           0
4         5  2004-10-23     28.63     -58.22           0           0

In [8]:
# Display len
display(len(df_A))
display(len(df_geo))
display(len(df_Se))

# Sum len
display(len(df_A) + len(df_Se) + len(df_geo))

1393

84

7755

9232

In [9]:
# Rename Latitude and Longitude to Lat and Lon
df_A.rename(columns={'Latitude':'Lat', 'Longitude':'Lon'}, inplace=True)
df_geo.rename(columns={'Latitude':'Lat', 'Longitude':'Lon'}, inplace=True)
df_Se.rename(columns={'Lat_deg_':'Lat', 'Long_deg_':'Lon'}, inplace=True)

# Rename Normalized from each dataframe
df_A.rename(columns={'Normalized':'Normalized_L'}, inplace=True)
df_geo.rename(columns={'Normalized':'Normalized_MP'}, inplace=True)
df_Se.rename(columns={'Normalized':'Normalized_KM2'}, inplace=True)

In [10]:
df = pd.concat([df_A, df_geo, df_Se], ignore_index=True)

In [11]:
df.Lat.describe()

count    9232.000000
mean       24.030743
std        15.328418
min       -65.177500
25%        17.081000
50%        24.430000
75%        32.760000
max        81.090000
Name: Lat, dtype: float64

In [12]:
df[(df['Lat'] > -66) & (df['Lat'] < 66) & (df['Lon'] > -180) & (df['Lon'] < 180)]

,OBJECTID,Sample_Date,Lat,Lon,Total_Pieces_L,Normalized_L,MP_conc__particles_cubic_metre_,Normalized_MP,Pieces_KM2,Normalized_KM2
0,1,2013-06-30,59.378683,-153.520867,1.0,0.003096,NaN,NaN,NaN,NaN
1,2,2013-06-30,59.368133,-153.552333,1.0,0.003096,NaN,NaN,NaN,NaN
2,3,2013-06-30,59.341467,-153.549767,14.0,0.043344,NaN,NaN,NaN,NaN
3,4,2013-06-30,59.638717,-153.395667,17.0,0.052632,NaN,NaN,NaN,NaN
4,5,2013-06-30,59.373600,-153.448067,71.0,0.219814,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
9227,7751,2002-07-11,57.140000,-134.050000,NaN,NaN,NaN,NaN,0.0,0.0
9228,7752,2002-07-12,57.220000,-136.230000,NaN,NaN,NaN,NaN,0.0,0.0
9229,7753,2002-07-12,57.300000,-136.210000,NaN,NaN,NaN,NaN,0.0,0.0
9230,7754,2002-07-10,57.460000,-133.770000,NaN,NaN,NaN,NaN,0.0,0.0
9231,7755,2002-07-11,57.510000,-135.180000,NaN,NaN,NaN,NaN,0.0,0.0