In [1]:
import pandas as pd
import xarray as xr

sea_surferce = xr.open_dataset('../data/nasa/oscar_currents_final_20170402.nc').to_dataframe()

sea_microplastic = xr.open_dataset('../data/nasa/cyg.ddmi.s20170402-000000-e20170430-000000.l3.grid-microplastic.a10.d10.nc',
                                  decode_cf=False ).to_dataframe()

In [2]:
sea_microplastic.reset_index(inplace=True)
sea_surferce.reset_index(inplace=True)

In [3]:
sea_microplastic.time = pd.to_datetime(sea_microplastic.time, unit='s')

In [4]:
sea_microplastic

,time,lat,lon,MP_concentration,stdev_MP_samples,num_MP_samples
0,2017-04-02,37.0,0.00,8.142307e+06,358.741061,149
1,2017-04-02,37.0,0.25,6.002672e+06,439.715346,151
2,2017-04-02,37.0,0.50,7.941298e+06,740.022435,144
3,2017-04-02,37.0,0.75,6.880114e+06,1506.872160,115
4,2017-04-02,37.0,1.00,4.051764e+06,4095.095158,97
...,...,...,...,...,...,...
12402715,2017-04-30,-37.0,358.75,1.424278e+05,669.627001,1221
12402716,2017-04-30,-37.0,359.00,1.433769e+05,633.132324,917
12402717,2017-04-30,-37.0,359.25,9.043513e+04,605.585256,898
12402718,2017-04-30,-37.0,359.50,7.366466e+04,551.845594,872
12402719,2017-04-30,-37.0,359.75,8.111532e+04,379.095101,840

In [5]:
sea_surferce.time = sea_surferce.time.apply(lambda x: x.strftime('%Y-%m-%d'))

In [6]:
sea_surferce.time = pd.to_datetime(sea_surferce.time)

In [7]:
sea_surferce

         latitude  longitude       time    lat     lon   u   v  ug  vg
0               0          0 2017-04-02 -89.75    0.00 NaN NaN NaN NaN
1               0          1 2017-04-02 -89.75    0.25 NaN NaN NaN NaN
2               0          2 2017-04-02 -89.75    0.50 NaN NaN NaN NaN
3               0          3 2017-04-02 -89.75    0.75 NaN NaN NaN NaN
4               0          4 2017-04-02 -89.75    1.00 NaN NaN NaN NaN
...           ...        ...        ...    ...     ...  ..  ..  ..  ..
1035355       718       1435 2017-04-02  89.75  358.75 NaN NaN NaN NaN
1035356       718       1436 2017-04-02  89.75  359.00 NaN NaN NaN NaN
1035357       718       1437 2017-04-02  89.75  359.25 NaN NaN NaN NaN
1035358       718       1438 2017-04-02  89.75  359.50 NaN NaN NaN NaN
1035359       718       1439 2017-04-02  89.75  359.75 NaN NaN NaN NaN

[1035360 rows x 9 columns]

In [10]:
pd.merge(sea_surferce, sea_microplastic, on=['time', 'lat', 'lon']).drop(['latitude', 'longitude'], axis=1)

,time,lat,lon,u,v,ug,vg,MP_concentration,stdev_MP_samples,num_MP_samples
0,2017-04-02,-37.0,0.00,0.047021,-0.118582,0.048551,-0.156574,7.674302e+05,105.438815,533
1,2017-04-02,-37.0,0.25,0.025014,-0.101328,0.025305,-0.139278,8.058970e+05,141.690521,501
2,2017-04-02,-37.0,0.50,0.007516,-0.041009,0.007431,-0.079920,7.340737e+05,154.208858,488
3,2017-04-02,-37.0,0.75,-0.002129,0.059129,-0.001356,0.019361,5.379874e+05,389.446705,464
4,2017-04-02,-37.0,1.00,-0.005274,0.149390,-0.004920,0.111028,3.908790e+05,592.544665,429
...,...,...,...,...,...,...,...,...,...,...
427675,2017-04-02,37.0,358.75,-0.025552,-0.060860,-0.022493,-0.059385,1.162185e+08,258.126342,125
427676,2017-04-02,37.0,359.00,-0.005789,-0.103711,-0.004418,-0.103496,1.467700e+08,357.508697,155
427677,2017-04-02,37.0,359.25,-0.003856,-0.137441,-0.003264,-0.138371,8.054956e+07,410.582070,153
427678,2017-04-02,37.0,359.50,-0.011238,-0.135992,-0.011799,-0.135844,2.389635e+07,413.973273,141
427679,2017-04-02,37.0,359.75,-0.018875,-0.095665,-0.020886,-0.094223,1.603701e+07,393.903370,160

In [ ]:
# lat, long, date -> [modelo 1] = u
# lat, long, date -> [modelo 2] = v
# lat, long, date, u, v -> [modelo 3] = microplastic

# Dataset 1 - Ocean Surface Currents:
# https://search.earthdata.nasa.gov/search/granules/collection-details?p=C2098858642-POCLOUD&pg[0][v]=f&pg[0][gsk]=-start_date&tl=1647902537.793!3!!&fs10=Ocean%20Currents&fsm0=Ocean%20Circulation&fst0=Oceans&m=-21.297179625649704!-124.31249999999999!0!1!0!0%2C2

# Train: 2016 - 2020
# Validation: 2021